/*
font-family: 'Delius Unicase', cursive;
font-family: 'Chewy', cursive;
font-family: 'Gochi Hand', cursive;
font-family: 'Signika', sans-serif;
*/
body {
  /*font-family: 'Gochi Hand', cursive;*/
  font-family: 'Signika', sans-serif;
  font-weight: 300;
  letter-spacing: 0.03em;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
input:focus, button:focus {
  outline: none;
}
.timeoutBtn {
  color: #fff;
  background-color: #000;
  transition: 0.3s;
}
img {
  width: 100%;
}
.muted {
  color: grey;
}
/*******************************
          NAV BAR
*******************************/
nav {
  background-color: slateblue;
}

/*  NAV LINKS  */
.navbar-default .navbar-nav>li>a {
  font-size: 1.25em;
  transition: 0.3s;
}

nav span {
  color: #000;
}
.navbar-brand, h1 {
  /*font-family: 'Chewy', cursive;*/
  font-family: 'Delius Unicase', cursive;
}
.navbar {
  border-radius: 0;
}
.fa-exclamation-circle {
  color: red;
}
/*******************************
          HOME PAGE
*******************************/
.displayProducts {
  margin-top: 50px;
}
/*******************************
          LOGIN PAGE
*******************************/
.loginForm {
  max-width: 450px;
  margin: 50px auto 0 auto;
}
.loginForm label {
  font-size: 1.25em;
}
.wrongLogin {
  position: relative;
  max-width: 350px;
  margin: auto;
}
.wrongLogin h3 {
  position: absolute;
  top: -15px;
  font-size: 1.25em;
}
/*******************************
          SIGN UP PAGE
*******************************/
.signupWrapper {
  margin-bottom: 50px;
}
.signupForm {
  max-width: 450px;
  margin: 50px auto 0 auto;
}
.signupForm label {
  font-size: 1.25em;
}
.wrongSignup {
  font-size: 1em;
  display: block;
}
.wrongSignup p {
  display: inline-block;
  font-size: .9em;
  font-weight: 300;
}
.wrongSignup i {
  font-size: 1em;
}
/*******************************
      PRODUCT DETAILS PAGE
*******************************/
.productDetails {
  margin: 30px 0;
}
.productDetails .productImg {
  text-align: center;
}
.productDetails .productImg img {
  max-width: 550px;
}
.productInfo {
  margin-top: 35px;
  font-size: 1.25em;
}
.productInfo .buttonDiv {
  text-align: center;
  margin-top: 30px;
}
.productInfo button {
  margin-top: 30px;
}
.addProductBtn {
    border: none;
    border-radius: 8px;
    height: 50px;
    width: 120px;
    transition: 0.3s;
}
/*******************************
          SHOPPING CART
*******************************/
.shoppingCartWrapper {
  margin-bottom: 50px;
}
table {
  margin: 20px auto;
  width: 100%;
}
table thead {
  display: none;
}
table img {
  max-width: 150px;
}
td {
  border-top: dotted;
  padding: 10px 0 15px 0;
}
td:last-child {
  border-bottom: dotted;
}
td img {
  float: left;
}
td span {
  display: block;
  float: left;
  margin: 10px 0 0 20px;
}
.checkoutDiv {
  text-align: center;
}
.empty {
  margin: 50px 0 60px 0;
}
.empty a {
  padding-bottom: 3px;
  border-bottom: 1px solid gray;
}
.empty a:hover {
  border-bottom: none;
  text-decoration: none;
}
/*******************************
          CHECKOUT PAGE
*******************************/
.checkoutWrapper {
  margin-bottom: 50px;
}
.shippingForm label {
  font-size: 1.25em;
}
.shippingInfo {
  max-width: 375px;
  margin: auto;
}
.shippingInfo ul {
  margin-top: 20px;
}
.shippingInfo .price,
.shippingInfo .checkoutBtnDiv {
  text-align: right;
}
.shippingInfo .messageDiv {
  margin: 20px auto;
}
/*******************************
          MEDIA QUERIES
*******************************/
@media screen and (min-width: 768px) {
  .navbar-default .navbar-nav>li>a:hover {
    font-size: 1.25em;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
    transition: 0.3s;
  }
  .signupForm label {
    width: 100%;
  }
  .wrongSignup {
    float: right;
  }
  table thead {
    display: block;
  }
  /*.homeProduct > *:nth-child(2n+1) {
     clear: none;
  }
  .homeProduct > *:nth-child(3n+1) {
     clear: both;
  }*/
}
@media screen and (min-width: 992px) {
  .tableRowWrapper {
    margin-top: 40px;
  }
  .tableColWrapper {
    border-right: 1px solid #000;
    padding-right: 50px;
  }
  table {
    margin: 0 auto;
  }
  .checkoutDiv {
    margin-left: 30px;
    text-align: left;
  }
}
