<!DOCTYPE html>

<div class="container checkoutWrapper">
  <h1>Check Out</h1>

  <div class="row">
    <div class="col-sm-6">
      <div class="shippingInfo">
        <div class="text-center">
          <h2>Ship To</h2>
        </div>
        <form class="shippingForm">
          <div class="form-group">
            <label for="address">Address:</label>
            <input ng-model="address" class="form-control" type="text" name="address" value="" required>
          </div>
          <div class="form-group">
            <label for="address_line_2">Address Line 2:</label>
            <input ng-model="address_line_2" class="form-control" type="text" name="address_line_2" value="">
          </div>
          <div class="form-group">
            <label for="city">City:</label>
            <input ng-model="city" class="form-control" type="text" name="city" value="" required>
          </div>
          <div class="form-group">
            <label for="state">State:</label>
            <input ng-model="state" class="form-control" type="text" name="state" value="" required>
          </div>
          <div class="form-group">
            <label for="zip_code">Zip Code:</label>
            <input ng-model="zip_code" class="form-control" type="text" name="zip_code" value="" required>
          </div>
        </form>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="shippingInfo">
        <div class="text-center">
          <h2>Your Order</h2>
        </div>

        <ul ng-repeat="product in shopping_cart">
          <li>{{product.name}} - ${{product.price}}</li>
        </ul>
        <p class="price">
          <strong>Total Price</strong>: ${{total_price}}
        </p>
        <hr>
        <div class="checkoutBtnDiv">
          <button ng-click="paymentCheckout()" class="btn btn-success" name="button">Confirm Checkout!</button>
        </div>
        <div class="messageDiv" ng-hide="!showMessage">
          <p>
            Please enter all required fields before checking out.
          </p>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- <button ng-click="checkout()" class="btn btn-success" name="button">Confirm Checkout!!!!!!</button>

<button ng-click="paymentCheckout()" class="btn btn-primary">Purchase Items</button> -->
