<!DOCTYPE html>

<div class="container">

  <h1>Shopping Cart</h1>

  <table ng-show="shopping_cart">
    <!-- <thead>
      <tr>
        <th>
          Item
        </th>
        <th>
          Quantity
        </th>
        <th>
          Item Price
        </th>
        <th>
          Total Price
        </th>
      </tr>
    </thead> -->
    <tbody>
      <tr ng-repeat="product in shopping_cart">
        <td class="clear">
          <img ng-src="{{product.image_path}}" alt="" />
          <span>
            <p>
              <strong>{{product.name}}</strong>
            </p>
            <p class="muted">
              <strong>Product Id</strong>: {{product.id}}
            </p>
            <p>
              <strong>Price</strong>: ${{product.price}}
            </p>
            <button ng-click="removeItem(product.id)" class="btn btn-danger" type="button">Remove</button>

          </span>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="text-center empty" ng-hide="shopping_cart.length !== 0">
    <p>
      Your bag is currently empty.<br><br>
      <a class="muted" ui-sref="home">Continue shopping</a>
    </p>
  </div>

  <div class="text-center checkoutDiv">
    <p>
      <strong>Total Price</strong>: ${{total_price}}
    </p>
    <div ng-show="shopping_cart.length > 0">
      <a ui-sref="checkout" class="btn btn-primary" name="button">Checkout!</a>
    </div>
  </div>

</div>

<!-- <h1>Hello from the shopping_cart.html file</h1>

<div ng-repeat="product in shopping_cart" class="well">
  <img ng-src="{{product.image_path}}" alt="" />
  {{product.name}}<br>
  {{product.price}}
  <button ng-click="removeItem(product.id)" class="btn btn-danger" type="button">Remove</button>
</div>

<p>
  Total Price: {{total_price}}
</p>

<a ui-sref="checkout" class="btn btn-primary" name="button">Checkout</a> -->
